html, body, .container{
    height: 100%;
    width: 100%;
}
li {
    margin-left: 5%;
}
.row {
    height: 100%;
    width: 100%;
    margin: 0;
}
.btn{
    background-color: #2A9FD6;
    color: white;
}
#id, #category {
    line-height: 1.5;
}
#adListView {
    color: white;!important;
}
.userCard {
    width: 40%;
    min-height: 30%;
    max-height: 30%;
    padding-left: 5%;
}